mixin icon(name, mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' icon_' + mod)
    use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)

mixin btn(text='', type, className)
  button(type='button' class='btn btn-' + type + ' ' + className) #{text}

mixin input(text='', name='', className)
  input(type="text", name=name, placeholder=text, class='input ' + className)

mixin tooltip
  .tooltip
    block

mixin category(title, icon, text)
  li.categories__item
    a(href="#")
      i.categories__item-icon
        +icon(icon, 'lg')
      h4.categories__item-title #{title}
      span.categories__item-text
        | #{text}
        i.categories__item-arrow
          +icon('arrow')